#wrap {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    background-color: rgba(240, 255, 255, 0.7);
    width: 100%;
    height: 100px;
    z-index: 9999;
}

.header-wrap {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 70px;
    height: 70px;
    padding-top: 15px;
}

.logo img {
    width: 100%;
}

.nav-box {
    width: 80%;
    height: 100px;
}

.users {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 45px;
}

.users li {
    margin-left: 15px;
    line-height: 45px;
}

.users li a {
    font-size: 12px;
}

nav {
    float: right;
    width: 700px;
    height: 55px;
    /* display: flex; */
    
}

.nav-main {
    display: flex;
    justify-content: space-between;
}

.main-menu {
    height: 55px;
    font-size: 20px;
    line-height: 55px;
    text-align: center;
    
}

.main-menu:hover {
    border-bottom: 2px solid #fff;
}

.main-menu a {
    color: #000;
    font-weight: 500;
}



.sub-menu {
    visibility: hidden;
    z-index: 9999;
    
}

.sub-menu li {
    font-size: 16px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* border-bottom: 1px solid #fff; */
}

.sub-menu li:hover {
    background-color: #adadad;
}

.sub-menu li:first-child {
    border-radius: 5px 5px 0 0;
}

.sub-menu li:last-child {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
}


/*sub-main 시작*/
.sub-intro-container{
    background-image: linear-gradient(rgba(240, 255, 255, 0.3), rgba(240, 255, 255, 0.4)), url('../images/펜션sub_intro1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    height: 300px;
}
.sub-intro-content {
    width: 50%;
    padding-top: 150px;
    /* margin: 0 auto; */
    margin-left: 150px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.sub-intro-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}
h1::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
} 
  .sub-intro-title-p {
    font-size: 20px;
    text-align: justify;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
  }

  .sub-intro-item {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .sub-intro-item li {
    width: 600px;
    height: 350px;
    border-radius: 50px;
    margin-left: 135px;
    margin-right: 135px;
    
  }
  .sub-intro-item1-wrap{
    width: 650px;
  }

  .sub-intro-item1 {
    background: url(../images/펜션2.jpg) 90% 100% no-repeat;
    background-size: cover;
    background-position: center;
    
  }
  .sub-intro-item2 {
    line-height: 30px;
    margin-right: -5px;
  }
  .sub-intro-topic {
    font-weight: bold;
    font-size: 20px;
    word-spacing: 3px;
    padding: 30px;
    margin-left: -30px;
  }

/* sub-main 끝 */

/* footer 시작 */

footer {
    padding: 20px 0;
    width: 100%;
    background-color: #9EA2A9;
    font-size: 12px;
    
}

.footer-wrap {
    max-width: 1200px;
    height: 120px;
    margin: 0 auto;
}

.footer-wrap ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
}

.footer-logo {
    padding-top: 0;
}

.copyright p {
    font-size: 12px;
    margin-bottom: 5px;
}

.tell p:first-child {
    margin-bottom: 10px;
}

.footer-sns {
    width: 65px;
    display: flex;
    justify-content: space-between;
}

.footer-sns a {
    font-size: 25px;
    color: #555;
}

.footer-sns a:hover {
    color: tomato;
}
/* footer 끝 */
